html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding: 15px;
  font-family: 'Roboto';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}


select {
  width: 200px;
  margin: 0 0 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

body {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.container p {
  margin-bottom: 20px;
  line-height: 24px;
}

#search-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
}

#search-container img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30px;
  height: auto;
  background: #fff;
}

#searchInput {
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
  width: 100%;
  display: inline-block;
  padding: 10px 0 10px 10px;
}

input:focus,
select:focus {
  outline: none;
}


#radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  font-size: 18px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin: 15px;
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

input[type="radio"]:checked + label:before {
  background-color: #000;
}

.container.container--table {
  background-color: #E9E9E9;
  padding: 0 10px;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 6px #474a51);
}
.events-list {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #000;
  background-color: #E9E9E9;
  width: 100%;
  font-size: 0.9em;
  text-align: left;
}

.events-list tr td {
padding: 5px 10px 5px 0;
}

.events-list tr td:last-child {
text-align: right;
}


.events-list .event-date {
margin: 3px 0;
padding: 2px 10px;
border-left: 5px solid #CFCFCF;
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
-ms-transition: all .25s linear;
transition: all .25s linear;
}

.events-list .event-date .event-day {
color: #004A5B;
font-size: 1.2em;
font-weight: 600;
text-align: left;
}

.events-list .event-date .event-month {
color: #333;
font-size: 1em;
font-weight: 600;
text-align: left;
}

.events-list .event-date .event-venue,
.events-list .event-date .event-price {
white-space: nowrap;
}
.events-list .event-share {
  text-decoration: none;
  color: blue;
}

.events-list tr#past .event-date {
  border-left: 5px solid red;
}
.events-list tr#today .event-date {
  border-left: 5px solid green;
}

.events-list tr:hover .event-date {
  border-left: 5px solid #4f8db3 !important;
  }
